$pink: #eaaaaa;
$red: #ff5a25;
$orange: #ec5723;
$greenishGrey: #cfd0c7;
$brightYellow: #f7ba2e;
$black: #181818;
$ivory: #f1f0eb;
$wheat: #fcfaef;
$darkestgrey: #222222;
$ink: #30312f;

$mobile: "(min-width: 320px) and (max-width: 568px)";
$tablet: "(min-width: 569px) and (max-width: 1025px)";
$desktop: "(min-width: 1026px)";

@font-face {
  font-family: "Recoleta Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Recoleta Bold"), url("../media/Recoleta-Bold.woff") format("woff");
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

// public
p {
  font-family: "Vidaloka", serif;
}
.social {
  right: 3.646vw;
  bottom: 8vw;
  height: auto;
  width: 2.083vw;
  z-index: 10;
  position: absolute;

  .button {
    position: relative;
    margin-bottom: 0.521vw;
    border-radius: 100%;
    border: 1px solid #000;
    width: 2.083vw;
    height: 2.083vw;
    display: block;

    &:before {
      width: 2.083vw;
      height: 2.083vw;
      display: block;
    }
    &:after,
    &:hover {
      background-color: black;
    }
  }
}

.header {
  min-height: 10vw;
  margin: 0 6.25vw;
  .logo {
    z-index: 5;
    top: 4.167vw;
    width: 13.021vw;
    height: 4.167vw;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    .svg {
      overflow: visible;
    }
  }
}

.date {
  top: 6.25vw;
  left: 6.25vw;
  color: $ink;
  position: absolute;
  font-family: "Noto Sans", sans-serif;
  @media #{$tablet} {
    top: 30vw;
  }
  @media #{$mobile} {
    top: 40vw;
  }

  .day {
    height: 4.271vw;
    font-weight: 700;
    font-size: 5.99vw;
    font-family: inherit;
    line-height: 4.271vw;
    text-indent: -0.25vw;
    letter-spacing: -0.4vw;
  }
  .month {
    height: 1.823vw;
    font-weight: 700;
    font-size: 1.094vw;
    font-family: inherit;
    line-height: 1.823vw;
    letter-spacing: -0.03vw;
    text-transform: uppercase;
  }
  .year {
    height: 0.781vw;
    font-weight: 300;
    font-size: 1.094vw;
    font-family: inherit;
    line-height: 0.781vw;
    letter-spacing: -0.03vw;
    text-transform: uppercase;
  }
}

.heading {
  font-weight: 700;
  font-size: 14.583vw;
  line-height: 12.5vw;
  font-family: "Recoleta Bold";
  letter-spacing: -0.146vw;
}

.chapter {
  height: 5.469vw;
  font-weight: 700;
  font-size: 5.885vw;
  line-height: 5.469vw;
  margin-bottom: 3.125vw;
  font-family: "Recoleta Bold";
  letter-spacing: -0.1vw;
}

.cover-page {
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: "Recoleta Bold", sans-serif;
  background: linear-gradient(rgba(233, 59, 7, 0.8), rgba(233, 59, 7, 0.8)),
    url("https://image.freepik.com/free-photo/plastic-texture-background-abstract-crumpled-material-transparent-object-wrinkled_79161-433.jpg");

  .leo-picture {
    margin: auto;
    display: block;
    position: absolute;
    align-items: center;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-image: url(/static/media/shanghai-beer-figure.0f5a2625.png);
    background-size: cover;

    @media #{$tablet} {
      bottom: 0;
      background-image: url("http://www.onceuponatimemag.com/img/cover-leo-mobile.e2b5b4c7.png");
    }
    @media #{$mobile} {
      bottom: 0;
      background-image: url("http://www.onceuponatimemag.com/img/cover-leo-mobile.e2b5b4c7.png");
    }
  }
  .wordmark {
    top: 50%;
    left: -1.302vw;
    width: 100vw;
    height: 24.01vw;
    display: block;
    position: absolute;
    transform: translateY(-60%);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    background-image: url("../media/yuefenpai-word.png");
    @media #{$tablet} {
      top: 12%;
    }
    @media #{$mobile} {
      top: 12%;
    }
  }
  .copy {
    font-family: "Noto Sans", sans-serif;
    left: 5.55vw;
    bottom: 0;
    z-index: 2;
    color: ivory;
    position: absolute;
    pointer-events: none;

    .subtitle {
      font-weight: 700;
      font-size: 5.99vw;
      line-height: 4.9vw;
      letter-spacing: -0.5vw;
      text-transform: uppercase;
    }
  }
}

.menu-page {
  background: $pink;
  .date {
    top: 0;
  }
  .heading {
    margin: 0 6.25vw;
    height: 35.938vw;
    margin-bottom: 10.417vw;
    text-indent: -0.4vw;
    color: $black;
  }
  .intro {
    padding-bottom: 10vw;
    font-size: 2.292vw;
    line-height: 2.7vw;
    margin-right: 6.25vw;
    font-family: "Noto Sans", sans-serif;
  }

  .content .row {
    margin-left: 6.25vw;
    margin-right: 6.25vw;
    border-top: 2px solid $black;
    padding-top: 2.083vw;
    padding-bottom: 3.05vw;
    .title {
      font-weight: 500;
      font-size: 2.969vw;
      line-height: 2.604vw;
      letter-spacing: -0.195vw;
      text-transform: uppercase;
    }

    :nth-child(2) {
      font-family: "Noto Sans", sans-serif;
      font-weight: 300;
      font-size: 1.094vw;
      line-height: 1.302vw;
      letter-spacing: -0.03vw;
      text-transform: uppercase;
      position: relative;
    }
    :nth-child(3) {
      text-align: right;
    }
  }
}

.letter {
  background: $greenishGrey;
  .chapter {
    margin: auto;
    text-align: center;
    color: $orange;
  }
  .heading {
    margin: auto;
    color: $orange;
    text-align: center;
  }
  .portrait {
    width: 62.5vw;
    height: 89.583vw;
    z-index: 2;
    position: relative;
    margin: -10vw auto 0;
    pointer-events: none;
    img {
      width: 100%;
    }
  }
  .text {
    margin-top: -10vw;
    margin-left: 6.25vw;
    padding-bottom: 10vw;
    font-size: 2.292vw;
    line-height: 2.7vw;
    font-family: "Noto Sans", sans-serif;
  }
}
