$pink: #eaaaaa;
$red: #ff5a25;
$orange: #ec5723;
$greenishGrey: #cfd0c7;
$yellowishGrey: #ece3c7;
$brightYellow: #f7ba2e;
$black: #181818;
$ivory: #f1f0eb;
$wheat: #fcfaef;
$darkestgrey: #222222;
$ink: #30312f;
$rose: #e65c66;
$dark-red: #a34532;
$paperYellow: #ece5d3;
$darkGreen: #50573a;

$mobile: "(min-width: 320px) and (max-width: 568px)";
$tablet: "(min-width: 569px) and (max-width: 1025px)";
$desktop: "(min-width: 1026px)";

@font-face {
  font-family: "Recoleta Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Recoleta Bold"), url("../media/Recoleta-Bold.woff") format("woff");
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.chinese-title {
  font-family: "Noto Sans HK", sans-serif;
  font-weight: 400;
}
.social {
  right: 3.646vw;
  bottom: 8vw;
  height: auto;
  width: 2.083vw;
  z-index: 10;
  position: absolute;
  @media #{$tablet} {
    display: none;
  }
  @media #{$mobile} {
    display: none;
  }

  .button {
    position: relative;
    margin-bottom: 0.521vw;
    border-radius: 100%;
    border: 1px solid #000;
    width: 2.083vw;
    height: 2.083vw;
    display: block;

    &:before {
      width: 2.083vw;
      height: 2.083vw;
      display: block;
    }
    &:after,
    &:hover {
      background-color: black;
    }
  }
}
.table-responsive {
  width: 98vw;
  overflow-x: none;
}

.header {
  min-height: 10vw;
  margin: 0 6.25vw;
  .logo {
    z-index: 5;
    top: 4.167vw;
    width: 13.021vw;
    height: 4.167vw;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    .svg {
      overflow: visible;
    }
  }
}

.date {
  top: 6.25vw;
  left: 6.25vw;
  color: $ink;
  position: absolute;
  font-family: "Recoleta Bold", sans-serif;
  @media #{$tablet} {
    top: 30vw;
  }
  @media #{$mobile} {
    top: 40vw;
  }

  .day {
    height: 4.3vw;
    font-weight: 700;
    font-size: 7vw;
    font-family: inherit;
    line-height: 4.5vw;
    text-indent: -0.25vw;
    letter-spacing: -0.4vw;
  }
  .month {
    height: 1.823vw;
    font-weight: 700;
    font-size: 1.8vw;
    font-family: inherit;
    line-height: 2vw;
    letter-spacing: -0.03vw;
    text-transform: uppercase;
  }
  .year {
    height: 1vw;
    font-weight: 300;
    font-size: 1.4vw;
    font-family: inherit;
    line-height: 0.781vw;
    letter-spacing: -0.03vw;
    text-transform: uppercase;
  }
}

.heading {
  font-weight: 700;
  font-size: 14.583vw;
  line-height: 12.5vw;
  font-family: "Recoleta Bold";
  letter-spacing: -0.146vw;
}

.chapter {
  height: 5.469vw;
  font-weight: 700;
  font-size: 5.885vw;
  line-height: 5.469vw;
  padding-bottom: 5vw;
  font-family: "Recoleta Bold";
  letter-spacing: -0.1vw;
}
.italic {
  font-style: italic;
}

.cover-page {
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: "Recoleta Bold", sans-serif;
  background: linear-gradient(rgba(233, 59, 7, 0.8), rgba(233, 59, 7, 0.8)),
    url("https://image.freepik.com/free-photo/plastic-texture-background-abstract-crumpled-material-transparent-object-wrinkled_79161-433.jpg");

  .leo-picture {
    margin: auto;
    display: block;
    position: absolute;
    align-items: center;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-image: url("../media/shanghai-beer-figure.png");
    background-size: cover;

    @media #{$tablet} {
      bottom: 0;
      background-image: url("../media/shanghai-beer-figure.png");
    }
    @media #{$mobile} {
      bottom: 0;
      background-image: url("../media/shanghai-beer-figure.png");
    }
  }
  .wordmark {
    top: 50%;
    left: -1.302vw;
    width: 100vw;
    height: 24.01vw;
    display: block;
    position: absolute;
    transform: translateY(-60%);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    background-image: url("../media/yuefenpai-word.png");
    @media #{$tablet} {
      top: 12%;
    }
    @media #{$mobile} {
      top: 12%;
    }
  }
  .copy {
    font-family: "Noto Sans", sans-serif;
    left: 5.55vw;
    bottom: 0;
    z-index: 2;
    color: ivory;
    position: absolute;
    pointer-events: none;

    .subtitle {
      font-weight: 700;
      font-size: 5.99vw;
      line-height: 4.9vw;
      letter-spacing: -0.5vw;
      text-transform: uppercase;
    }
  }
}

.menu-page {
  background: $pink;
  .date {
    top: 0;
  }
  .heading {
    margin: 0 6.25vw;
    height: 35.938vw;
    margin-bottom: 10.417vw;
    text-indent: -0.4vw;
    color: $black;
  }
  .intro {
    padding-bottom: 5vw;
    font-size: 2.292vw;
    line-height: 2.7vw;
    margin-right: 6.25vw;
    font-family: "Noto Sans", sans-serif;
  }

  .content .row {
    margin-left: 6.25vw;
    margin-right: 6.25vw;
    border-top: 2px solid $black;
    padding-top: 2.083vw;
    padding-bottom: 3.05vw;
    .title {
      font-weight: 500;
      font-size: 2.969vw;
      line-height: 2.604vw;
      letter-spacing: -0.195vw;
      text-transform: uppercase;
    }

    :nth-child(2) {
      font-family: "Noto Sans", sans-serif;
      font-weight: 300;
      font-size: 1.094vw;
      line-height: 1.302vw;
      letter-spacing: -0.03vw;
      text-transform: uppercase;
      position: relative;
    }
    :nth-child(3) {
      text-align: right;
    }
  }

  .calendar {
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
    margin-left: 6.25vw;
    margin-right: 6.25vw;
    padding-bottom: 10vw;
    .table td {
      border: 2px solid black;
      max-width: 12vw;
      min-width: 12vw;
      height: 12vw;

      .calendar-item {
        font-weight: 500;
        font-size: 2.5vw;
        line-height: 2.2vw;
        letter-spacing: -0.195vw;
        text-transform: uppercase;
      }
    }
  }
}

.page {
  .chapter {
    margin: auto;
    text-align: center;
  }
  .heading {
    margin: auto;
    text-align: center;
    z-index: 1;
  }
  .text {
    max-width: 60vw;
    margin-left: 6.25vw;
    padding-bottom: 5vw;
    font-size: 2.292vw;
    line-height: 2.7vw;
    font-family: "Noto Sans", sans-serif;
  }
  .small-text {
    max-width: 60vw;
    margin-left: 6.25vw;
    padding-bottom: 5vw;
    font-size: 1.5vw;
    line-height: 2vw;
    font-family: "Noto Sans", sans-serif;
  }
  .portrait {
    width: 60vw;
    height: 80vw;
    z-index: 0;
    position: relative;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .caption {
    top: -80vw;
    height: 2.083vw;
    line-height: 1.5;
    text-align: left;
    position: absolute;
    transform-origin: center top;
    transform: rotate(-90deg) translateY(-50%);
  }
  .horizontal {
    width: 100%;
    height: 30vw;
    z-index: 0;
    position: relative;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .quote {
    font-weight: 700;
    font-size: 4.375vw;
    font-family: "Recoleta Bold";
    text-align: center;
    line-height: 5.208vw;
    letter-spacing: -0.044vw;
    margin: auto;
    width: 60vw;
    padding: 5vw 0;
  }
  .quotee {
    position: relative;
    line-height: 1.094vw;
    padding-left: 4.688vw;
    padding-bottom: 5vw;
    margin: 0 auto 0 52.865vw;
    font-weight: 300;
    font-size: 1.094vw;
    letter-spacing: -0.011vw;
    font-family: "Noto Sans", sans-serif;
    text-transform: uppercase;
    &:before {
      top: 10%;
      left: 0;
      width: 4.167vw;
      height: 0.781vw;
      content: "";
      position: absolute;
      transform: translateY(-50%);
      background-size: 100%;
      background-position: 50%;
      background-repeat: repeat-x;
      background-color: linear-gradient(
        rgba(233, 59, 7, 0.8),
        rgba(233, 59, 7, 0.8)
      );
      background-image: url(../media/icon-quote.svg);
    }
  }
}

.letter {
  background: $yellowishGrey;
  .chapter {
    color: $rose;
  }
  .heading {
    color: $rose;
  }
  .portrait {
    margin: -10vw auto 0;
    background-image: url("../media/man-tuo.jpg");
  }
  .text {
    margin-top: -10vw;
  }
}

.rise {
  background: $dark-red;
  color: $paperYellow;
  .chapter {
    padding-bottom: 8vw;
  }
  .heading {
    margin-bottom: 10vw;
  }
  .small-text {
    padding-bottom: 0;
    margin-bottom: 5vw;
  }
  .portrait {
    @media #{$desktop} {
      margin: -10vw auto 0;
    }
    margin: auto;
    background-image: url("../media/chang-wei-yao.jpg");
  }

  .horizontal {
    width: 40vw;
    height: 25vw;
    overflow: hidden;
    pointer-events: none;
    margin-left: 4.167vw;
    margin-top: -4.167vw;
    background-image: url("../media/city.jpg");
  }
  .san-mao {
    margin: auto;
    background-image: url("../media/san-mao.jpg");
  }
  .move-up {
    @media #{$desktop} {
      margin-top: -20vw;
    }
    margin-right: 1vw;
    margin-bottom: 3.125vw;
  }
}
.drawing {
  background: $paperYellow;
  color: $ink;
  .advertisement {
    margin: auto;
    margin-top: 10vw;
    background-image: url("../media/dian-ji.jpg");
  }
}

.ad {
  background-color: $darkGreen;
  color: $greenishGrey;
  .portrait {
    width: 90vw;
    height: 130vw;
    margin: 5vw 5vw;
    background-size: cover;
    background-image: url("../media/earth.jpg");
  }
}
